<h1>Registration Page</h1>

<form>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="fname" required>
      </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lname"  required>
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" required>
    </div>
    <div class="form-group">
        <label>Mobile No</label>
        <input type="tel" class="form-control" name="mob"  required>
      </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="uname" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd" ngModel required>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="pwd1" ngModel required>
      </div>
  
    <button type="submit" class="btn btn-primary">Register</button>
    <a routerLink="/login">Already have an account ?</a>
  </form>
