/* You can add global styles to this file, and also import other style files */

body { 
    margin-top: 40px ;
    margin-left: 40px ;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(rgb(100, 122, 216),#292cd3)
}



