<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video conference clone </title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script>

            const ROOM_ID = "<%= roomid %>";
        
    </script>
</head>
<body>
    
    <h1>video conference clone  done .....</h1>

    <div id="video-grid"></div>

    <div class="main">
        <div class="left-main">
            <div class="main-video">
                <div id="video-grid"></div>
            </div>
            <div class="main-controls">
                
            </div>
        </div>
        <div class="rigth-main">
            <div class="main-header">
                <h6>Chats</h6>
            </div>
        </div>
    </div>





    <script src="scripts.js">
        </script>
</body>
</html>